/* Search Icon Styles */
.search-icon {
  cursor: pointer;
  padding: 0.5rem;
}

.search-icon-img {
  width: 24px; /* Perfect size for search icon */
  height: 24px; /* Maintain aspect ratio */
  transition: transform 0.3s ease; /* Smooth hover effect */
}

.search-icon-img:hover {
  transform: scale(1.1); /* Slightly enlarge on hover */
}

/* Search Bar Styles */
.search-bar {
  display: none;
  margin-bottom: 1rem;
  text-align: center;
  padding: 1rem;
  background: var(--accent-color);
  border-radius: 10px;
  box-shadow: 0 4px 6px var(--shadow-color);
}

.search-bar.active {
  display: block;
}

.search-bar input {
  padding: 0.5rem;
  width: 80%;
  max-width: 300px;
  border: 1px solid var(--secondary-color);
  border-radius: 5px;
  background-color: var(--accent-color);
  color: var(--text-color);
}

.search-bar button {
  padding: 0.5rem 1rem;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  border: none;
  border-radius: 5px;
  cursor: pointer;
  margin-left: 0.5rem;
  transition: background-color 0.3s ease;
}

.search-bar button:hover {
  background-color: var(--accent-color);
  color: var(--primary-color);
}
